body { 
    margin: 0;
    @include media('<=phone') {
        line-height: 1.4;
    }
}

a,
.btn,
button {
    text-decoration: none;
    @extend %transition;

    &:focus,
    &:active {
        outline: none;
    }

    &:before,
    &:after,
    *,
    *:before,
    *:after {
        @extend %transition;
    }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h {
    font-family: $headings-font-family;
    margin: 0 0 40px;
    font-weight: 600;
    color: $headings-color;
    line-height: 1.1;
    &:last-child {
        margin-bottom: 0;
    }
    a {
        color: inherit;
        &:hover {
            color: $base-link-color;
        }
    }
}

h1,
.h1 {
    font-size: 2.188rem;
    font-family: $sohneBreit;
    @include media('>=tablet') {
        font-size: $h1-font-size;
    }
}

h2,
.h2 {
    font-size: 1.875rem;
    @include media('>=tablet') {
        font-size: $h2-font-size;
    }
}

h3,
.h3 {
    font-size: 1.875rem;
    @include media('>=tablet') {
        font-size: $h3-font-size;
    }
}

h4,
.h4 {
    font-size: 1rem;
    @include media('>=tablet') {
        font-size: $h4-font-size;
    }
}

h5,
.h5 {
    font-size: $h5-small-font-size;
    @include media('>=tablet') {
        font-size: $h5-font-size;
    }
}

h6,
.h6 {
    font-size: $h6-small-font-size;
    @include media('>=tablet') {
        font-size: $h6-font-size;
    }
}

p {
    margin: 0 0 1em;
    font-size: 0.875rem;
    @include media('>=phone') {
        margin: 0 0 1.335em;
        font-size: 1rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
    a {
        font-size:  inherit;
    }
}

a {
    color: inherit;

    &:hover {
        text-decoration: underline;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.container {
    max-width: $base-max-width;
    padding: 0 12px;
    margin: 0 auto;
    @extend %clearfix;
    @include media('>=phone') {
        padding: 0 24px;
    }
}

.container-fluid {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    @include media('>=phone') {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.container-small {
    margin: 0 auto;
    max-width: $base-max-width-small;
    padding-left: 24px;
    padding-right: 24px;
}

.sub-heading {
    font-size: 1.25rem;
    display: block;
    font-weight: 400;
    margin-bottom: 20px;
    @include media('>=phone') {
        font-size: 1.563rem;
        margin-bottom: 20px;
    }
}

.table-responsive {
    overflow-y: hidden;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

#wrapper {
    position: relative;
    overflow: hidden;
}